.paginator a:hover div{
    transform: scale(1.2)
}

section{
    animation: content-colah 1s linear alternate infinite;
}

h2{
    animation: titol 4s linear infinite, content-colah 4s alternate infinite;
}

@keyframes content-colah{
    from{
        background-color:white;
    }to{
        background-color:red;
    }
}

@keyframes titol{
    from{
        transform: translateX(-100px);
    }
    50%{
        transform: translate(100px);
    }
    to{
        transform: translate(-100px);
    }
}

@keyframes pulse{
    0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

@keyframes tiktok{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

header, nav{
    background: linear-gradient(100deg, white , red);
    background-size:400% 400%;
    animation: pulse 2s linear alternate infinite;
}

.accounts{
    background: linear-gradient(100deg, cyan, violet);
    background-size:400% 400%;
    animation: pulse 2s linear alternate infinite;
}

#logo{
    animation: tiktok 1s linear infinite;
    border-radius:50%;
}