header, main, aside, nav, .main-sec h2, section:not(.topic-img){
    border: 1px solid;
}

*{
    box-sizing:border-box;
    font-family: Tahoma;
    padding:0;
    margin:0;
    text-align:center;
    color:black;
    border:none;
    transition: all .2s;
}


main{
    position:relative;
    min-height:500px;
    width:100%;
    padding: 0 10em;   
    z-index:0;
    background-color: #EDDDDB;
}   

article{
    padding: 3em;
    background-color:#F2ECDE;
}

body{
    margin:0;
    padding:0;
}

header{
    position:sticky;    
    top:0;
    z-index:1;
    padding: 1em;
    background-color: #EDDDDB;

} 

#logo{
    position:absolute;
    top:calc(50% - 75px/2);
    left: 1em;
    border-radius: 1em;
    width: 75px;
}

.nav-links li, .accounts li{
    display:inline-block;
}

li{
    list-style-type:none;
}
.nav-links ul{
    display:flex;
    justify-content: space-evenly;
    padding:.5em;
}

.nav-links{
    position:sticky;
    bottom:0;
    z-index:1;
    background-color:#C4C0C0;
}


.topics{
    background: url("../images/CLOCK.jpg") no-repeat;
    background-size:cover;
    position:relative;
    display:flex;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-evenly;
    border-radius:50%;
    padding: 10%;
    margin:10%;
}

.topics a{
    width: 25%;
    margin:10%;
    aspect-ratio: 1/1;
    scale:1.25;
}

.topics div{
    border: 3px solid #D4B3AF;
    position: relative;
    height:100%;
    border-radius:50%;
}

.topics h4{
    width:100%;

    position:absolute;
    top:110%;   
    background-color:gray;
    border-radius:1em;
    padding: .2em;
}

.topics a:hover{
    scale: 1.5;
}

#route1 div{
    background: url("../images/SPOLIARIUM.jpg") no-repeat;
    background-size:cover;
}

#route2 div{
    background: url("../images/OBLATION.jpg");
    background-size:cover;

}

#route3 div{
    background: url("../images/RIZAL\ MONUMENT.jpg") no-repeat  center center;
    overflow:visible;
}

:not(header) section{
    min-height:100px;
    margin: 3em 0;
    padding:1em;
    border-radius:.5em;
}

aside section{
    margin:1em;
}

section, .main-sec h2{
    background-color: lightcyan;
    overflow:auto;
    
}

aside section{
    
    opacity: 0.5;
}
.main-content{
    padding:0;
    display:flex;
    overflow:auto;
}

.aside-sec{
    overflow:auto;
    position:fixed;
    width:25%;
    height:400px;
}


.main-sec{
    width:75%;
    margin-left:25%;
}

.about-credits{
    display:flex;
    position:relative;
    justify-content:space-evenly;
    z-index:1;
}


.paginator a div{
    border: 1px solid;
    padding: 0.5em 1em;
    border-radius: 3em;
    background-color:#EDDDDB;
}

.paginator a:hover div{
    background-color:#D4B3AF;
}



a{
    text-decoration:none;
}

.fb:hover div{
    width: 34px;
    height: 34px;
    border-radius: 14%;
    background: url("../images/SMSprites.jpg") -15px -15px;
    
}



.x:hover div{
    width: 34px;
    height: 34px;
    border-radius: 14%;
    background: url("../images/SMSprites.jpg") -15px -57px;
}

.yt:hover div{
    width: 34px;
    height: 34px;
    border-radius: 14%;
    background: url("../images/SMSprites.jpg") -99px -15px;
}

.accounts{
    width:100%;
    border: 1px solid black;
    background-color:lightblue;
}


.accounts a{
    display:flex;
    align-items:center;
    gap: 1em;
    border: 1px solid;
    padding: .5em 2em;
    border-radius: 2em;
    background-color:#EDDDDB;
}

.paginator .current-page{
    background-color:#D4B3AF;
}

.accounts a div{
    background: url("../images/defaultIcons.png")  no-repeat -105.5px -60px;
    width: 39px;
	height: 42px;
    border-radius: 50%;
}

.fb:hover{
    background-color:blue;
    color:white;
}

.x:hover{
    background-color:cyan;
}

.yt:hover{
    background-color:red;
}

.about-credits div{
    width: 32%;
    height: 300px;
    border: 2px solid;
    position:relative;
}

#about-xand{
    background: url("../images/XAND.jpg") no-repeat;
    background-size:cover;
    background-position-y: -90px;
    background-repeat:no-repeat;
}

#about-iris{
    background: url('../images/IRIS.jpg')  no-repeat;
    background-size:cover;
}

#about-kim{
    background:url("../images/KIMMY.jpg")  no-repeat;
    background-size:cover;
}

.about-credits h3{
    position:absolute;
    width:100%;
    padding:.5em;
    background-color:#D4B3AF;
    border-radius: 1em;
    border: 2px solid;
    bottom:0;
}

p{
    text-align:justify;
    text-indent:2em;
}


.artist img{
    width:25%;
    float:left;
    margin: 0 1em;
}

.content h3{
    margin: .3em;   
}

.topic-img{
    min-height:400px;
    background-size:contain;
    position:relative;
}


#spoliarium{
    background: url("../images/SPOLIARIUM.jpg") no-repeat;
    background-size:cover;
}

#oblation{
    background: url("../images/OBLATION.jpg") no-repeat;
    background-position:center center;
    background-size:contain;
}

#rizal{
    background: url("../images/RIZAL\ MONUMENT.jpg") no-repeat;
    background-size:cover;
}

#bloodcompact{
    background: url("../images/TheBloodCompact.jpg") no-repeat;
    background-position:center center;
}

.main-sec h2{
    margin:0 auto;
    border-radius:1em;
    padding:.5em;
    bottom:0;
}

video{
    width:100%;
}



.sources li{
    background-color:lightblue;
    border: 1px solid black;
    padding: .5em 2em;
    margin: 1em;
}

.sources a{
    text-decoration:underline;
}

.sources a:hover{
    color:white;
}